PORT=3000
DATABASE_URL=mysql://username:password@host:port/database_name
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=your-access-key
MINIO_SECRET_KEY=your-secret-key
MINIO_BUCKET=images
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=http://localhost:9000/images
INSTAGRAM_TOKEN=your-default-instagram-token
FIREBASE_CREDENTIAL_PATH=firebase-credential.json

